@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}



h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;

}

h3 {
	font-size: 1.5em;

}

p {
	text-align: center;
	padding-left: 20px;

}


.album-art {
	border: 5px solid red;
	padding: 20px;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2px solid red;
	
}

.record-label {
	color: red;
	

}

.track-list {
	text-align: center;
	
}

#about-photo {
	border: 2px solid red;
	width: 200px;

}

#copyright {
	color: red;

}

#section-about, #section-discography, #section-equipment {
	border: 2px solid red;
	padding: 20px;
	margin-right: 20px;
	
 
}


#text-intro {
	border: 2px solid red;
	background-color: darkgrey;
	color: red;
}
